<div>
    <div class="container">
        <section class="py-4 py-xl-5">
            <div class="container">
                <div class="text-white bg-primary border rounded border-0 border-primary d-flex flex-column justify-content-between flex-lg-row p-4 p-md-5">
                    <div class="pb-2 pb-lg-1">
                        <h1 class="fw-bold text-start mb-2">Selamat Datang di Form Menu Makanan</h1>
                        <p class="fs-4 fw-semibold text-start mb-0">Berikut Ini Form Untuk Menghitung Tagihan Makanan Anda</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>